@media (min-width: 300px) {
    .exit-button {
        position: absolute;
        z-index: 999999;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
    }
    .head{
        background: #f3f3f3;
    }
    .head-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        padding: 10px 20px;
    }
    .logo img {
        width: 130px;
    }
    .head-menu{
        padding: 0px 15px;
    }
    .head-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .head-menu ul li {
        list-style: none;
    }
    .head-menu ul li a {
        display: inline-block;
        font-family: MontserratL;
        font-size: 14px;
        padding: 44px 20px 44px 20px;
        text-decoration: none;
    }
    .head-menu ul li a:hover {
        background: #FFF;
    }

    .head-contacts{
        padding: 17px 10px 17px 0px;
    }
    .head-contacts p {
        text-align: right;
    }
    .main-tel {
        font-family: MontserratM;
        font-size: 16px;
        text-transform: uppercase;
        color:#e63c24;
        text-decoration: none;
    }
    .mobile-tel {
        font-family: MontserratM;
        font-size: 12px;
        text-decoration: none;
    }
    .head-mail {
        display: inline-block;
        font-family: MontserratM;
        font-size: 12px;
        text-decoration: none;
        padding: 5px 0px 0px 0px;
    }
    .head-city {
        font-family: MontserratM;
        font-size: 12px;
    }
    .offers {
        background: #d7d7d8;
    }
    .offers-wrap {
        padding: 10px;
        position: relative;
    }
    .offers-wrap-close{
        height: 240px;
    }
    .offer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-position: 0px 0px;
        background-size: 120px;
        background-repeat: no-repeat;
        text-decoration: none;
        padding: 0px 0px 0px 135px;
        height: 90px;
        background-color: #FFF;
        margin: 10px;
    }
    .offer-title {
        font-family: MontserratM;
        font-size: 10px;
        text-transform: uppercase;
        padding: 10px 15px 0px 0px;
    }
    .offer-price {
        font-family: MontserratM;
        font-size: 12px;
        text-transform: uppercase;
        color: #e63c24;
        padding-bottom: 10px;
    }
    .offers-open-button {
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
        z-index: 100;
        padding: 30px 0px 20px 0px;
        text-align: center;
        background: url("/images/offers-bg.png") bottom left repeat-x;
    }
    .offers-open-button p {
        display: inline-block;
        background: #080808;
        color: #FFF;
        font-family: MontserratM;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        width: 195px;
        text-align: center;
        padding: 16px 0px;
    }
    .offers-open-button p:hover {
        background: #e63c24;
        cursor: pointer;
    }
    .map {
        background: #d7d7d8;
        padding-bottom: 0px;
    }
    .map-header {
        padding-top: 60px;
        padding: 60px 20px 0px 20px;
    }
    .map-header h3 {
        font-family: MontserratL;
        font-size: 20px;
        color: #000;
        text-align: center;
        padding-bottom: 20px;
    }
    .map-block {
        margin: 0 auto;
        padding: 0px 0px 40px 0px;
    }
    .map-flex {
        display: block;
        padding: 0px 10px;
    }
    .map-project {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 80px;
        flex-grow: 1;
        background-color: #FFF;
        background-size: 110px;
        background-position: 0px 0px;
        background-repeat: no-repeat;
        margin: 0px 10px;
        font-size: 12px;
        font-family: MontserratR;
        text-decoration: none;
        margin-bottom: 5px;
        -webkit-transition: all 0.3s ease;
    }
    .map-project p {
        font-family: MontserratR;
        display: inline;
        position: absolute;
        left: 125px;
        text-align: left;
        padding-right: 15px;
    }
    .map-project:hover {
        flex-grow: 1 !important;
        background-position: 0px 0px;
        -webkit-transition: all 0.3s ease;
    }
    .map-project:hover p {
        display: inline;
    }
    .special-offer {
        border-top:1px solid #f3f3f3;
    }
    .special-offer-headers {
        background: #FFF;
        padding-top: 65px;
    }
    .special-offer-headers h3 {
        font-family: MontserratL;
        font-size: 20px;
        color: #e63c24;
        text-align: center;
        padding-bottom: 20px;
    }
    .special-offer-headers p {
        font-family: MontserratL;
        font-size: 12px;
        color: #7a7a7a;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 50px;
    }
    .special-offer-wrap {
        padding: 0px 20px;
    }

    .special-offer-image img {
        width: 100%;
    }
    .special-offer-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .special-offer-text p {
        font-family: MontserratL;
        font-size: 14px;
        line-height: 22px;
        padding: 0px 0px 25px 0px;
        text-align: center;
    }
    .special-offer-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
    }
    .special-offer-name {
        font-family: MontserratM;
        font-size: 16px;
        text-align: center;
        padding: 25px 0px;
    }
    .special-offer-price {
        font-family: MontserratM;
        font-size: 24px;
        text-align: center;
        padding-bottom: 25px;
    }
    .special-offer-price span {
        font-size: 12px !important;
        color: #7a7a7a;
        text-transform: uppercase;
    }
    .special-offer-button {
        padding: 25px 0px 50px;
        width: 100%;
        text-align: center;
    }
    .special-offer-button p {
        display: inline-block;
        background: #e63c24;
        font-family: MontserratR;
        font-size: 18px;
        color: #FFF;
        padding: 15px 45px;
        cursor: pointer;
    }
    .special-offer-button p:hover {
        background-color: #080808;
    }
    .catalog {
        border-top:1px solid #f3f3f3;
    }
    .catalog-wrap {
        padding: 50px 20px;
    }
    .categories, .web-page-block {
        background: #d7d7d8;
        padding: 25px 0px 0px 0px;
    }
    .categories-wrap, .web-page-wrap {
        padding: 0px 20px 50px 20px;
    }
    .category-headers, .web-page-headers {
        padding: 0px;
    }
    .catalog-headers {
        padding: 0px;
    }
    .news-headers {
        padding: 0px;
    }
    .catalog-headers h3, .news-headers h3, .category-headers h1, .web-page-headers h1 {
        text-align: center;
        font-family: MontserratL;
        font-size: 20px;
        color: #080808;
        padding: 0px 0px 20px 0px;
    }
    .catalog-headers p, .news-headers p, .category-headers p, .web-page-headers p {
        text-align: center;
        font-family: MontserratL;
        font-size: 12px;
        color: #7a7a7a;
        text-transform: uppercase;
        padding: 0px 0px 50px 0px;
    }
    .catalog-info, .category-info, .web-page-info {
        text-align: center;
        font-family: MontserratL;
        font-size: 14px;
        line-height: 24px;
        padding: 0px 0px 15px 0px;
    }
    .catalog-button {
        width: 195px;
        margin: 0 auto;
        padding: 50px 0px 25px 0px;
    }
    .catalog-button a {
        display: inline-block;
        background: #080808;
        color: #FFF;
        font-family: MontserratM;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        width: 195px;
        text-align: center;
        padding: 16px 0px;
    }
    .catalog-button a:hover {
        background: #e63c24;
    }
    .category-offer-button, .web-page-offer-button {
        padding: 25px 0px 25px 0px;
    }
    .category-offer-button p, .web-page-offer-button p {
        display: block;
        background: #e63c24;
        color: #FFF;
        font-family: MontserratM;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        width: 195px;
        text-align: center;
        padding: 16px 25px;
        margin: 0 auto;
    }
    .category-offer-button p:hover, .web-page-offer-button p:hover {
        background: #080808;
        cursor: pointer;
    }
    .category-image, .web-page-image {
        float: none;
        width: 100%;
    }
    .category-image img, .web-page-image img {
        width: 100%;
    }
    .catalog-item {
        text-align: center;
        padding-top: 10px;
    }
    .catalog-icon {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        background: #f3f3f3;
    }
    .catalog-icon img {
        width: auto;
        height: 100%;
        -webkit-transition: all 0.3s ease;
    }
    .catalog-item a {
        text-transform: uppercase;
        text-decoration: none;
    }
    .catalog-item a:hover {
        text-decoration: underline;
    }
    .catalog-item p {
        font-family: MontserratL;
        font-size: 12px;
        display: flex;
        height: 90px;
        vertical-align: baseline;
        justify-content: center;
        flex-direction: column;
    }
    .catalog-item a:hover img {
        -webkit-transition: all 0.3s ease;
        height: 103%;
    }
    .advantages {
        border-top:1px solid #f3f3f3;
    }
    .advantages-flex {
        display: block;
        align-items: stretch;
    }
    .advantages-wrap {
        padding: 0px 0px 50px 0px;
    }
    .advantages-headers {
        background: #FFF;
        padding-top: 65px;
    }
    .advantages-headers h3 {
        font-family: MontserratL;
        font-size: 20px;
        color: #000;
        text-align: center;
        padding-bottom: 20px;
    }
    .advantages-headers p {
        font-family: MontserratL;
        font-size: 12px;
        color: #7a7a7a;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 50px;
    }
    .advantage {
        height: 100%;
        padding: 20px 20px 0px 20px;
        position: relative;
    }
    .advantage-icon-wrap {
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -63px;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 1px solid #e3e3e3;
    }
    .advantage-icon {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-top: 12px;
        background: #FFF;
        border-radius: 50%;
        border: 1px solid #e3e3e3;
    }
    .advantage-text-wrap {
        height: 62%;
        background: #f3f3f3;
        border: 1px solid #e3e3e3;
        margin: 63px 0px 20px 0px;
        padding: 65px 0px 0px 0px;
    }
    .advantage-text-wrap h4 {
        font-family: MontserratL;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        padding: 30px 30px 50px 30px;
    }
    .advantage-text-wrap p {
        font-family: MontserratL;
        font-size: 14px;
        text-align: center;
        line-height: 24px;
        padding: 0px 30px 80px 30px;
    }
    .news-flex {
        display: block;
    }
    .news {
        border-top:1px solid #f3f3f3;
    }
    .news-headers-wrap {
        padding: 50px 20px 0px 20px;
    }
    .news-wrap {
        padding: 0px;
    }
    .news-block {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0px 20px;
        margin-bottom: 25px;
    }
    .news-header a {
        display: inline-block;
        font-family: MontserratM;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
    }
    .news-header {
        text-align: center;
    }
    .news-special a {
        color: #e63c24;
    }
    .news-header a:hover {
        text-decoration: underline;
    }
    .news-text {
        flex: 1 1 auto;
        padding: 10px 0px 10px 0px;
    }
    .news-text p {
        text-align: center;
        padding: 0px 0px 0px 0px;
        font-family: MontserratL;
        font-size: 14px;
        line-height: 18px;
    }
    .news-date p {
        text-align: center;
        bottom: 0px;
        font-family: MontserratL;
        font-size: 12px;
        color: #ababab;
    }
    .news-button {
        margin: 75px 0px 50px 0px;
        width: 100%;
        text-align: center;
    }
    .news-button a {
        display: inline-block;
        background: #080808;
        font-family: MontserratR;
        font-size: 18px;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 45px;
    }
    .news-button a:hover {
        background: #e63c24;
    }
    .about {
        border-top:1px solid #f3f3f3;
    }
    .about-headers-wrap {
        padding: 50px 20px 0px 20px;
    }
    .about-headers {
        padding: 0px;
    }
    .about-headers h3 {
        font-family: MontserratL;
        font-size: 20px;
        color: #080808;
        padding: 0px 0px 20px 0px;
        text-align: center;
    }
    .about-headers p {
        font-family: MontserratL;
        font-size: 12px;
        color: #7a7a7a;
        text-transform: uppercase;
        padding: 0px 0px 0px 4px;
        text-align: center;
    }
    .about-wrap {
        padding: 0px 20px 100px 20px;
    }
    .about-wrap p {
        font-family: MontserratL;
        font-size: 14px;
        line-height: 24px;
        padding: 10px 20px 30px 0px;
        text-align: center;
    }
    .about-wrap h5 {
        font-family: MontserratL;
        font-size: 14px;
        text-transform: uppercase;
        color: #7a7a7a;
        text-align: center;
    }
    .about-wrap a {
        display: block;
        width: 150px;
        margin: 0 auto;
        text-align: center;
        background: #080808;
        font-family: MontserratR;
        font-size: 18px;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        padding: 15px 45px;
    }
    .about-wrap a:hover {
        background: #e63c24;
        color: #FFF;
    }
    .about-video {
        padding: 30px 0px 0px 0px;
    }
    .presentation {
        margin: 20px 0px 50px 0px;
        width: 100%;
        height: auto;
    }
    .presentation iframe {
        width: 100%;
    }
    .consultation {
        background-color: #000;
        background-image: url("/images/consultation-bg.jpg");
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: cover;
        border-top:1px solid #f3f3f3;
    }
    .consultation-wrap {
        padding: 25px 20px 25px 20px;
    }
    .consultation-flex {
        display: block;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .consultation-headers {
        width: 100%;
        padding: 0px;
    }
    .consultation-headers h3 {
        font-family: MontserratL;
        font-size: 20px;
        color: #FFF;
        padding: 0px 0px 20px 0px;
        text-align: center;
    }
    .consultation-headers p {
        font-family: MontserratL;
        font-size: 12px;
        color: #FFF;
        padding:0px 0px 20px 0px;
        text-align: center;
    }
    .post-header {
        font-family: MontserratL;
        font-size: 12px;
        color: #FFF;
        text-transform: uppercase;
        padding: 0px 0px 25px 4px !important;
    }
    .consultation-button {
        width: 260px;
        margin: 0 auto;
    }
    .consultation-button p {
        display: inline-block;
        background: #e63c24;
        font-family: MontserratR;
        font-size: 18px;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 45px;
        cursor: pointer;
    }
    .consultation-button p:hover {
        background: #FFF;
        color: #000;
    }
    .footer-flex {
        display: flex;
        flex-direction: row;
    }
    .footer-left {
        width: auto;
        float: none;
        padding: 0px 20px;
    }
    .footer-left h3 {
        font-family: MontserratL;
        font-size: 20px;
        color: #000;
        padding: 50px 0px 20px 0px;
        text-align: center;
    }
    .footer-post-header {
        font-family: MontserratL;
        font-size: 14px;
        color: #7a7a7a;
        text-transform: uppercase;
        padding: 0px 0px 25px 0px;
        margin: 0px 0px 25px 0px;
        border-bottom: none;
        text-align: center;
    }
    .footer-mini-header {
        font-family: MontserratL;
        font-size: 10px;
        text-transform: uppercase;
        color: #070707;
        padding:0px 0px 10px 0px;
        text-align: center;
    }
    .footer-info {
        font-family: MontserratL;
        font-size: 16px;
        padding:0px 0px 25px 0px;
        color: #000;
        text-align: center;
    }
    .footer-button {
        width: 260px;
        margin:0 auto;
        padding: 25px 0px 25px 0px;
    }
    .footer-button p {
        display: inline-block;
        background: #e63c24;
        font-family: MontserratR;
        font-size: 18px;
        color: #FFF;
        text-transform: uppercase;
        padding: 15px 45px;
        cursor: pointer;
        text-align: center;
    }
    .footer-button p:hover {
        background: #000;
    }
    .footer-map {
        height: 100%;
        width: 100%;
    }
    .footer-line {
        background: #f3f3f3;
        width: 100%;
    }
    .footer-line p {
        font-family: MontserratL;
        font-size: 12px;
        color: #878787;
        width: 90%;
        text-align: center;
        margin: 0 auto;
        padding: 40px 0px;
    }
    .send-form {
        padding: 30px;
        width: 500px;
        margin: 0 auto;
        background: #fff;
    }
    .breadcrumbs {
        background: #d7d7d8;
    }
    .breadcrumbs-wrap {
        padding: 34px 20px 34px 20px;
    }
    .breadcrumbs p {
        font-family: MontserratL;
        font-size: 14px;
        color: #404040;
    }
    .breadcrumbs p a {
        font-family: MontserratL;
        text-decoration: none;
        color: #404040;
    }
    .breadcrumbs p a:hover {
        text-decoration: underline;
        color: #000;
    }
    .products {
        background: #d7d7d8;
    }
    .products-wrap {
        padding: 0px 20px 100px 20px;
        position: relative;
        overflow: hidden;
    }
    .products-wrap-close {
        height: 280px;
    }
    .products-table {
        width: 100%;
        border-collapse: collapse;
    }
    .products-table th {
        background: #d7d7d8;
        font-family: MontserratL;
        font-size: 14px;
        color: #7a7a7a;
        text-transform: uppercase;
        padding-bottom: 10px;
        text-align: left;
    }
    .products-table td {
        background: #e1e1e1;
        border-bottom: 1px solid #d7d7d8;
        font-family: MontserratL;
        font-size: 12px;
        color: #000;
    }
    .products-table tr:hover td {
        background: #e8e8e8;
    }
    .product-image-cell {
        width: 120px;
    }
    .products-table img {
        height: 70px;
        vertical-align: middle;
    }
    .products-table a {
        display: inline-block;
        font-family: MontserratL;
        text-decoration: none;
        padding: 0px 10px 0px 0px;
    }
    .products-table a:hover {
        text-decoration: underline;
    }
    .products-open-button {
        position: absolute;
        height: 50px;
        bottom: 0;
        z-index: 100;
        padding: 30px 0px 20px 0px;
        text-align: center;
        background: url("/images/offers-bg.png") bottom left repeat-x;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .products-open-button p {
        display: inline-block;
        background: #080808;
        color: #FFF;
        font-family: MontserratM;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        width: 195px;
        text-align: center;
        padding: 16px 0px;
    }
    .products-open-button p:hover {
        background: #e63c24;
        cursor: pointer;
    }

    .category-complete-solution {
        background: #d7d7d8;
    }
    .complete-solution-wrap {
        padding: 50px 20px 50px 20px;
    }
    .solution-headers {
        padding: 0px;
    }
    .solution-headers h2 {
        font-family: MontserratL;
        font-size: 20px;
        color: #080808;
        padding: 0px 0px 20px 0px;
        text-align: center;
    }
    .solution-headers p {
        font-family: MontserratL;
        font-size: 12px;
        color: #7a7a7a;
        text-transform: uppercase;
        padding: 0px 0px 25px 0px;
        text-align: center;
    }
    .solution-info {
        font-family: MontserratL;
        font-size: 14px;
        line-height: 22px;
        padding: 0px 0px 15px 0px;
        text-align: center;
    }
    .solution-button {
        padding: 50px 0px 0px 0px;
        width: 100%;
        margin-bottom: 25px;
    }
    .solution-button p {
        background: #e63c24;
        color: #FFF;
        font-family: MontserratM;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        padding: 16px 10px;
        cursor: pointer;
    }
    .solution-button p:hover {
        background: #080808;
    }
    .solution-image {
        width: 100%;
        text-align: center;
    }
    .solution-image img {
        width: 100%;
    }
    .related-block {
        border-top:1px solid #f3f3f3;
    }
    .related-block-wrap {
        padding: 25px 20px 25px 20px;
    }
    .related-block-headers {
        padding: 0px 0px 0px 0px;
    }
    .related-block-headers h3 {
        font-family: MontserratL;
        font-size: 20px;
        color: #080808;
        padding: 0px 0px 20px 0px;
        text-align: center;
    }
    .related-block-headers p {
        font-family: MontserratL;
        font-size: 14px;
        color: #7a7a7a;
        text-transform: uppercase;
        padding: 0px 0px 50px 0px;
        text-align: center;
    }
    .related-page-info {
        font-family: MontserratL;
        font-size: 14px;
        line-height: 22px;
        padding: 0px 0px 15px 0px;
        text-align: center;
    }
    .related-block-button {
        padding: 25px 0px 0px 0px;
        margin-bottom: 25px;
    }
    .related-block-button a {
        display: inline-block;
        background: #080808;
        color: #FFF;
        font-family: MontserratM;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        padding: 16px 0px;
        cursor: pointer;
    }
    .related-block-button a:hover {
        background: #e63c24;
    }
    .related-page-image {
        width: 100%;
        text-align: center;
    }
    .related-page-image img {
        width: 90%;
    }
    .slider {
        height: 350px;
    }
    .slider-wrap {
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: center;
        display: none;
        -webkit-animation: fade-in 1s linear; /* Safari 4+ */
        -moz-animation: fade-in 1s linear; /* Fx 5+ */
        -o-animation: fade-in 1s linear; /* Opera 12+ */
        animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
    }
    .slide-top-right {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        height: 100%;
        text-align: right;
    }
    .slide-top-left {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        text-align: left;
    }
    .slide-bottom-right {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        height: 100%;
        text-align: right;
    }
    .slide-bottom-left {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: 100%;
        text-align: left;
    }
    .slide-flex-item {
        width: 50%;
        padding: 20px 20px;
    }
    .slide-header {
        display: inline-block;
        font-family: Montserrat;
        font-size: 18px;
        color: #000;
        text-transform: uppercase;
        padding: 15px 20px;
        background: #FFF;
    }

    .slide-info p {
        display: inline-block;
        background: #FFF;
        font-family: MontserratL;
        font-size: 12px;
        color: #000;
        padding: 10px 20px 10px 20px;
        margin: 10px 0px;
        line-height: 18px;
    }

    .child-pages {
        border-top:1px solid #f3f3f3;
    }
    .child-pages-wrap {
        padding: 0px;
    }
    .child-page-block {
        display: block;
        flex-direction: column;
        height: auto;
        padding: 20px 20px 30px 20px;
        border-bottom: 1px solid #f3f3f3;
    }
    .child-page-image {
        background-size: cover;
        background-position: center;
        height: 200px;
        margin-bottom: 30px;
    }
    .child-page-header a {
        display: inline-block;
        font-family: MontserratM;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
    }
    .child-page-header a:hover {
        text-decoration: underline;
    }
    .child-page-text {
        flex: 1 1 auto;
        padding: 10px 0px 20px 0px;
        text-align: center;
    }
    .child-page-text p {
        padding: 0px;
        font-family: MontserratL;
        font-size: 14px;
        line-height: 18px;
    }
    .child-page-date p {
        bottom: 0px;
        font-family: MontserratL;
        font-size: 12px;
        color: #ababab;
        text-align: center;
    }
    .gallery {
        padding: 20px 0px;
    }
    .gallery-item {
        text-align: center;
    }
    .gallery-item a {
        display: inline-block;
        padding: 10px;
    }
    .gallery-item a img {
        width: 100%;
    }
    .product-param-table {
        padding: 20px 0px;
    }
    .product-param-table table {
        width: 100%;
        border-collapse: collapse;
    }
    .product-param-name, .product-param-value {
        background: #e1e1e1;
        border-bottom: 1px solid #d7d7d8;
        font-family: MontserratL;
        font-size: 12px;
        color: #000;
        padding: 7px 10px;
    }
    .product-param-value {
        text-align: center;
    }

    .mobile-panel {
        display: block;
        position: fixed;
        z-index: 99999;
        bottom: 0;
        width: 100%;
        background: #e63c24;
        padding: 3px 0px;
        height: 42px;
    }
    .mobile-panel ul {
        display: flex;
        justify-content: space-between;
    }
    .mobile-panel ul li {
        list-style: none;
    }
    .mobile-panel ul li a {
        display: inline-block;
        padding: 12px 13px;
        font-family: MontserratR;
        font-size: 14px;
        text-decoration: underline;
        font-weight: 500;
        color: #FFF;
    }
    .mobile-panel ul li a:hover {
        background: #FFF;
        color: #000;
    }
    .mobile-menu {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFF;
        overflow: scroll;
    }
    .mobile-menu-wrap {
        padding: 70px 20px 20px 20px;
    }
    .mobile-submenu {

    }
    .mobile-submenu li {
        list-style: none;
    }
    .mobile-submenu li ul {
        margin-bottom: 25px;
    }
    .mobile-submenu li a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: MontserratL;
        font-size: 14px;
        padding: 14px 20px 12px 20px;
        background: #f9f9f9;
        color: #000;
        text-decoration: none;
        width: auto;
        margin-bottom: 1px;
    }
    .mobile-menu-exit-button {
        position: absolute;
        z-index: 1000;
        top: 10px;
        right: 28px;
        width: 40px;
        height: 40px;
    }
    .mobile-menu-first-item {
        background: #d7d7d8 !important;
    }
}
@media (min-width: 992px) {
    .logo{
        padding: 30px 20px;
    }
    .logo img {
        width: 140px;
    }
    .head-contacts {
        padding: 17px 20px 17px 0px;
    }
    .offer {
        justify-content: space-between;
        background-size: 160px;
        padding: 0px 0px 0px 183px;
        height: 120px;
    }
    .offer-title {
        padding: 20px 15px 0px 0px;
    }
    .offer-price {
        padding-bottom: 20px;
    }
    .map {
        padding-bottom: 95px;
    }
    .map-header h3 {
        font-size: 36px;
    }
    .map-flex {
        display: flex;
        justify-content: space-between;
    }
    .map-project {
        height: 100px;
        background-color: unset;
        background-size: 140px;
        font-size: 10px;
    }
    .map-project p {
        display: none;
        left: 105px;
        text-align: center;
    }
    .map-project:hover {
        flex-grow: 2 !important;
        background-position: -50px 0px;
        background-color: #FFF;
    }
    .special-offer-headers h3 {
        font-size: 36px;
    }
    .special-offer-headers p {
        font-size: 14px;
    }
    .special-offer-wrap {
        padding: 0px 20px;
    }
    .special-offer-flex {
        display: flex;
        align-items: stretch;
    }
    .special-offer-info {
        background: url("/images/grey-point.gif") 80px 0px repeat-y;
    }
    .special-offer-text p {
        padding: 0px 0px 0px 60px;
        text-align: right;
    }
    .special-offer-name {
        font-size: 18px;
        text-align: right;
        padding: 25px 0px 50px 60px;
    }
    .special-offer-price {
        text-align: right;
    }
    .special-offer-button {
        padding: 75px 0px 50px;
    }
    .categories, .web-page-block {
        padding: 0px;
    }
    .categories-wrap, .web-page-wrap {
        padding: 0px 20px 100px 20px;
    }
    .catalog-headers {
        padding: 0px 50px 0px 0px;
    }
    .catalog-headers h3, .news-headers h3, .category-headers h1, .web-page-headers h1 {
        text-align: left;
        font-size: 36px;
    }
    .catalog-headers p, .news-headers p, .category-headers p, .web-page-headers p {
        text-align: left;
        font-size: 14px;
    }
    .catalog-info, .category-info, .web-page-info {
        text-align: left;
        padding: 0px 50px 15px 0px;
    }
    .catalog-button {
        width: 150px;
        padding: 50px 0px 0px 0px;
    }
    .category-offer-button, .web-page-offer-button {
        padding: 50px 0px 0px 0px;
    }
    .category-offer-button p, .web-page-offer-button p {
        padding: 16px 45px;
    }
    .category-image, .web-page-image {
        float: right;
        width: 90%;
    }
    .catalog-icon {
        width: 160px;
        height: 160px;
    }
    .advantages-wrap {
        padding: 0px 0px 100px 0px;
    }
    .advantages-headers h3 {
        font-size: 36px;
    }
    .advantages-headers p {
        font-size: 14px;
    }
    .news-headers-wrap {
        padding: 100px 20px 0px 20px;
    }
    .news-block {
        height: 230px;
        padding: 0px 20px;
    }
    .news-header {
        text-align: left;
    }
    .news-header a {
        text-align: left;
    }
    .news-text {
        padding: 30px 0px 0px 0px;
    }
    .news-text p {
        text-align: left;
    }
    .news-date p {
        text-align: left;
    }
    .about-headers-wrap {
        padding: 100px 20px 0px 20px;
    }
    .about-headers h3 {
        font-size: 36px;
        text-align: left;
    }
    .about-headers p {
        font-size: 14px;
        text-align: left;
    }
    .about-wrap p {
        font-size: 16px;
        text-align: left;
    }
    .about-wrap h5 {
        text-align: left;
    }
    .presentation {
        height: 400px;
    }
    .consultation-wrap {
        padding: 60px 20px 60px 20px;
    }
    .consultation-flex {
        display: flex;
    }
    .consultation-headers {
        width: 60%;
        padding: 0px 0px 0px 6px;
    }
    .consultation-headers h3 {
        font-size: 48px;
        text-align: left;
    }
    .consultation-headers p {
        font-size: 14px;
        padding:0px 50px 0px 4px;
        text-align: left;
    }
    .consultation-button {
        width: auto;
        margin: 0px;
    }
    .post-header {
        font-size: 14px;
    }
    .footer-left {
        width: 460px;
        float: right;
        padding: 0px;
    }
    .footer-left h3 {
        font-size: 48px;
        text-align: left;
    }
    .footer-post-header {
        padding: 0px 0px 50px 0px;
        margin: 0px 100px 50px 0px;
        border-bottom: 1px solid #f3f3f3;
        text-align: left;
    }
    .footer-mini-header {
        text-align: left;
    }
    .footer-info {
        text-align: left;
    }
    .footer-button {
        width: auto;
        margin:0px;
        padding: 90px 0px 80px 0px;
    }
    .footer-button p {
        text-align: left;
    }
    .products-table td {
        font-size: 16px;
    }
    .products-table a {
        padding: 0px;
    }
    .complete-solution-wrap {
        padding: 100px 20px 100px 20px;
    }
    .solution-headers h2 {
        font-size: 36px;
        text-align: left;
    }
    .solution-headers p {
        font-size: 14px;
        text-align: left;
    }
    .solution-info {
        padding: 0px 50px 15px 0px;
        text-align: left;
    }
    .solution-button {
        padding: 50px 50px 0px 0px;
        width: auto;
        margin: 0px;
    }
    .solution-button p {
        width: 100%;
    }
    .related-block-wrap {
        padding: 100px 20px 100px 20px;
    }
    .related-block-headers {
        padding: 0px 0px 0px 6px;
    }
    .related-block-headers h3 {
        font-size: 36px;
        text-align: left;
    }
    .related-block-headers p {
        padding: 0px 0px 50px 4px;
        text-align: left;
    }
    .related-page-info {
        padding: 0px 50px 15px 10px;
        text-align: left;
    }
    .related-block-button {
        padding: 50px 50px 0px 10px;
        margin: 0px;
    }
    .child-page-block {
        height: 400px;
        padding: 50px 20px;
        border: none;
    }
    .child-page-header a {
        text-align: left;
    }
    .child-page-text {
        padding: 30px 0px 0px 0px;
        text-align: left;
    }
    .child-page-date p {
        text-align: left;
    }
    .product-param-name, .product-param-value {
        font-size: 14px;
        padding: 15px 20px;
    }
    .mobile-panel {
        display: none;
    }
}
@media (min-width: 1200px) {
    .logo img {
        width: 223px;
    }
    .head-menu ul li a {
        font-size: 16px;
        padding: 44px 25px 45px 25px;
    }
    .head-contacts{
        padding: 17px 10px;
    }
    .offer-title {
        font-size: 12px;
    }
    .offer-price {
        font-size: 14px;
    }
    .map-header h3 {
        font-size: 48px;
    }
    .map-project {
        margin: 0px 10px;
        font-size: 12px;
    }
    .map-project p {
        left: 125px;
    }
    .map-project:hover {
        background-position: -30px 0px;
    }
    .special-offer-headers h3 {
        font-size: 48px;
    }
    .special-offer-wrap {
        padding: 0px 50px;
    }
    .special-offer-text p {
        font-size: 16px;
        line-height: 24px;
        padding: 15px 0px 15px 100px;
    }
    .special-offer-name {
        font-size: 24px;
        padding: 25px 0px 50px 100px;
    }
    .special-offer-price {
        font-size: 36px;
        padding-bottom: 50px;
    }
    .special-offer-price span {
        font-size: 14px !important;
    }
    .catalog-wrap {
        padding: 100px 50px;
    }
    .categories-wrap, .web-page-wrap {
        padding: 0px 50px 100px 50px;
    }
    .category-headers, .web-page-headers {
        padding: 0px 0px 0px 6px;
    }
    .catalog-headers {
        padding: 0px 50px 0px 6px;
    }
    .news-headers {
        padding: 0px 0px 0px 6px;
    }
    .catalog-headers h3, .news-headers h3, .category-headers h1, .web-page-headers h1 {
        font-size: 48px;
    }
    .catalog-headers p, .news-headers p, .category-headers p, .web-page-headers p {
        padding: 0px 0px 50px 4px;
    }
    .catalog-info, .category-info, .web-page-info {
        font-size: 16px;
        padding: 0px 50px 15px 10px;
    }
        .catalog-button {
        width: auto;
        margin: 0px;
        padding: 50px 50px 0px 10px;
    }
    .category-offer-button, .web-page-offer-button {
        padding: 50px 50px 0px 10px;
    }
    .category-offer-button p, .web-page-offer-button p {
        display: inline-block;
    }
    .advantages-wrap {
        padding: 0px 50px 100px 50px;
    }
    .advantages-headers h3 {
        font-size: 48px;
    }
    .news-headers-wrap {
        padding: 100px 50px 0px 50px;
    }
    .news-wrap {
        padding: 0px 26px 0px 26px;
    }
    .news-block {
        padding: 0px 30px;
    }
    .about-headers-wrap {
        padding: 100px 50px 0px 50px;
    }
    .about-headers {
        padding: 0px 0px 0px 6px;
    }
    .about-headers h3 {
        font-size: 48px;
    }
    .about-wrap {
        padding: 0px 56px 100px 56px;
    }
    .about-wrap p {
        padding: 50px 20px 80px 0px;
    }
    .about-wrap a {
        display: inline-block;
    }
    .about-wrap a:hover {
        background: #e63c24;
        color: #FFF;
    }
    .about-video {
        padding: 0px 0px 0px 100px;
    }
    .presentation {
        margin: 50px 0px;
    }
    .consultation-wrap {
        padding: 60px 50px 60px 50px;
    }
    .post-header {
        padding: 0px 0px 50px 4px !important;
    }
    .consultation-button p:hover {
        background: #FFF;
        color: #000;
    }
    .footer-left {
        width: 535px;
    }
    .footer-left h3 {
        padding: 100px 0px 20px 0px;
    }
    .footer-post-header {
        padding: 0px 0px 50px 4px;
    }
    .footer-info {
        font-family: MontserratL;
        font-size: 16px;
        padding:0px 0px 25px 4px;
    }
    .breadcrumbs-wrap {
        padding: 64px 50px 64px 50px;
    }
    .products-wrap {
        padding: 0px 50px 100px 50px;
    }
    .complete-solution-wrap {
        padding: 100px 50px 100px 50px;
    }
    .solution-headers {
        padding: 0px 0px 0px 6px;
    }
    .solution-headers p {
        padding: 0px 0px 50px 4px;
    }
    .solution-info {
        font-family: MontserratL;
        font-size: 16px;
        line-height: 24px;
        padding: 0px 50px 15px 10px;
    }
    .solution-button {
        padding: 50px 50px 0px 10px;
    }
    .solution-button p {
        padding: 16px 0px;
    }
    .related-block-wrap {
        padding: 100px 50px 100px 50px;
    }
    .related-block-headers h3 {
        font-size: 48px;
    }
    .related-page-info {
        font-family: MontserratL;
        font-size: 16px;
        line-height: 24px;
    }
    .slider {
        height: 650px;
    }
    .slider-wrap {
        height: 650px;
    }
    .slide-flex-item {
        padding: 100px 130px;
    }
    .slide-header {
        font-size: 24px;
        padding: 30px 40px;
    }

    .slide-info p {
        font-size: 16px;
        padding: 10px 40px 10px 40px;
        line-height: 24px;
    }
    .child-pages-wrap {
        padding: 0px 95px 0px 95px;
    }
    .child-page-text {
        padding-top: 30px;
    }
    .product-param-table {
        padding: 20px 10px;
    }
    .product-param-name, .product-param-value {
        font-size: 16px;
    }
}
@media (min-width: 1500px) {
    .logo{
        padding: 30px 20px;
    }
    .head-menu{
        padding: 0px 20px;
    }
    .head-menu ul li a {
        padding: 44px 35px 45px 35px;
    }
    .offers-wrap-close{
        height: 280px;
    }
    .offer {
        background-size: 220px;
        padding: 0px 0px 0px 253px;
        height: 165px;
    }
    .offer-title {
        font-size: 16px;
    }
    .offer-price {
        font-size: 16px;
    }
    .map-project {
        height: 123px;
        background-size: 165px;
    }
    .map-project p {
        left: 185px;
    }
    .map-project:hover {
        background-position: 0px 0px;
    }
    .special-offer-wrap {
        padding: 0px 20px;
    }
    .special-offer-name {
        padding: 50px 0px 0px 100px;
    }
    .catalog-wrap {
        padding: 100px 125px;
    }
    .categories-wrap, .web-page-wrap {
        padding: 0px 125px 100px 125px;
    }
    .catalog-item p {
        font-size: 14px;
    }
    .advantages-wrap {
        padding: 0px 125px 100px 125px;
    }
    .news-headers-wrap {
        padding: 100px 115px 0px 115px;
    }
    .news-wrap {
        padding: 0px 95px 0px 95px;
    }
    .about-headers-wrap {
        padding: 100px 115px 0px 115px;
    }
    .about-wrap {
        padding: 0px 125px 100px 125px;
    }
    .consultation-wrap {
        padding: 60px 115px 60px 115px;
    }
    .footer-left {
        width: 635px;
    }
    .footer-line p {
        width: 70%;
    }
    .breadcrumbs-wrap {
        padding: 64px 125px 64px 131px;
    }
    .products-wrap {
        padding: 0px 125px 100px 125px;
    }
    .complete-solution-wrap {
        padding: 100px 125px 100px 125px;
    }
    .related-block-wrap {
        padding: 100px 125px 100px 125px;
    }
    .slide-header {
        font-size: 36px;
    }
    .slide-info p {
        font-size: 18px;
        line-height: 26px;
    }
}
